body{
    background-color: #0f0f0f;
    color: rgb(155, 155, 155);
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;}
.canvas{
    height: 100vh;
    width: 100vw;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: background-color 2s ease;}
    /* .canvas::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        
        background: 
            linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 10%, transparent 90%, rgba(0, 0, 0, 0.8) 100%),
            linear-gradient(to bottom, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.8) 100%);} */

.box{
    background-color: rgb(30, 30, 30);
    height: 35vh;
    width: 60vw;
    position: relative;
    padding: 2rem;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
    z-index: 1;}
    .box.expanded{
        background-color: transparent;}
.intro{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 3rem;

    transition: opacity 0.5s ease;}

.main{
    width: 80%;}
#input{
    background-color: rgb(20, 20, 20);
    width: 100%;
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    padding: 1rem;
    resize: none;

    min-height: 50px;
    max-height: 400px;
    transition: height 0.5s ease;
    overflow-y: auto;
}
#input::placeholder{
    text-align: center;
    line-height: 50px;
}




h1{
    font-size: 2.8rem;
    margin: 0;}
p{
    font-size: 1.1rem;}